.Btns {
  display: inline-block;
  padding: 10px 20px;
  background-color: #579dff;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.Btns:hover {
  background-color: #0056b3;
}

.Btns:active {
  transform: scale(0.95);
}
